<div class="screen">
    <div class="forgot-password-form">   
     <img src="../../../../assets/img/forgot-password.png" alt="logo" style="height: 200px; margin: 30px 34%;">
      <span id="title-forgot-password" style="margin-bottom: 30px;">Forgot your password?</span>
      <form style=" margin: 80px 70px;">
            <label for="username" style="color:#9F7CA0; font-weight: normal; display: block; margin-top:30px ; font-weight: 500; font-size: 18px;" >Email addres</label>
            <div class="form-group" style="margin: 10px 0;">
                <mat-form-field appearance="outline" style="width: 100%;">
                <input matInput type="text" placeholder="Your email" name="email">
                <mat-icon matPrefix>mail</mat-icon>
                </mat-form-field>
            </div>      
            <a id="btn-register" class="btn-global" style="color: white;" mat-raised-button>CONTINUE</a> 
            <span style="font-family: 'Poppins'; align-items: center;  color: #79627C; text-align: center; margin-top: 30px;">No account yet? <a style="font-family: 'Poppins'; align-items: center; text-decoration-line: underline; color: #79627C; text-align: center;" routerLink="/register">Create acount</a></span>      
        </form>
        
    </div>
</div>
  