.screen{
    padding:5%;
  }

  .forgot-password-form {
    max-width: 550px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    height: 680px;
  }

  .forgot-password-form form {
    display: flex;
    flex-direction: column;
  }
  
  .forgot-password-form .form-group {
    margin-bottom: 20px;
  }
  
  .forgot-password-form label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .forgot-password-form input[type="text"],
  .forgot-password-form input[type="password"] {
    width: 100% !important;
    max-width: 400px !important;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .forgot-password-form button[type="submit"] {
    padding: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .forgot-password-form button[type="submit"]:hover {
    background-color: #2c3e50;
  }
  
  #title-forgot-password{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #848484;
  }

  #subtitle-forgot-password{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #9F7CA0;
  }
  #email{
    box-sizing: border-box;
    width: 398px;
    height: 56px;
    background: #FFFFFF;
    border: 2px solid #949494;
    border-radius: 5px;
  }

  #btn-forgot-password{
    margin:30px 0;
  }
  .btn-global{
    background: linear-gradient(90deg, #5C396E 3.89%, #AB529C 94.23%);
    height: 50px;
  }

  #title-forgot-password{
    margin:auto 60px;
  }

 
  