<mat-toolbar  class="mat-elevation-z2 " style="display: flex; flex-direction: column;">
    <span class="d-inline-block align-middle" style="font-size: 20px; margin-bottom: 10px;">About EventXplorer</span>
    <div class="icons">
        <img src="../../../../assets/icons/twiter.png" alt="icon-facebook" style="height: 50px; margin-right: 10px;">
        <img src="../../../../assets/icons/facebook.png" alt="icon-facebook" style="height: 50px; margin-right: 10px;">
        <img src="../../../../assets/icons/instagram.png" alt="icon-facebook" style="height: 50px; margin-right: 10px;">
        <img src="../../../../assets/icons/linkedin.png" alt="icon-facebook" style="height: 50px;">
    </div>
    <span class="d-inline-block align-middle" style="font-size: 15px; margin-top: 10px;">&copy; EventXplorer, 2023.</span>
</mat-toolbar>
  
