<app-header></app-header>

<div class="container-all">
  <div class="div-form">
    <form class="example-container" (submit)="createdEvent()">
      <!--Foto del evento-->
      <mat-form-field>
        <mat-label>Enter your photo</mat-label>
        <input matInput placeholder="Photo Event" name="url_photo" [(ngModel)]="datae.url_photo" requerided >
      </mat-form-field>
      <!--Titulo del evento-->
      <mat-form-field>
        <mat-label>Enter your title</mat-label>
        <input matInput placeholder="Title Event" name="title" [(ngModel)]="datae.title" requerided >
      </mat-form-field>
      <!--Fecha del evento-->
      <mat-form-field>
        <mat-label>Event Date</mat-label>
        <input matInput type="date" placeholder="yyyy-MM-dd" name="Date"  [(ngModel)]="datae.date" pattern="\d{4}-\d{2}-\d{2}" required>
      </mat-form-field>
      <!--Comienzo del evento-->
      <mat-form-field>
        <mat-label>Event Date</mat-label>
        <input matInput type="date" placeholder="HH:mm" name="start_time"  [(ngModel)]="datae.start_time" pattern="\m{2}-:HH{2}" required>
      </mat-form-field>
      <!--Capacidad del evento-->
      <mat-form-field>
        <mat-label>Enter your max number of assitends</mat-label>
        <input matInput placeholder="Max Capacity" type="number" name="capaciy" [(ngModel)]="datae.capacity" >
      </mat-form-field>
      <!--Direccion del evento-->
      <mat-form-field>
        <mat-label>Enter the address</mat-label>
        <input matInput placeholder="Address" name="address" [(ngModel)]="datae.address" #inputPlaces>
      </mat-form-field>
      <!--Ciudad del evento-->
      <mat-form-field>
        <mat-label>Enter the city</mat-label>
        <input matInput placeholder="City" name="city" [(ngModel)]="datae.city" #inputCities>
      </mat-form-field>
      <!--Distrito del evento-->
      <mat-form-field>
        <mat-label>Enter the district</mat-label>
        <input matInput placeholder="District" name="district" [(ngModel)]="datae.district">
      </mat-form-field>
      
    </form>
    <div id="imagen">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBrjjIbQnGKoKdPZ8_tZxGAJgXz5nKQRooS-kuU06RMFHp5Avu" alt="cuadernoylapiz" id="cuaderoylapiz">
    </div>
    
  </div>
  <div id="container-b">
    <a id="btn-make-order" style="color: white; " mat-raised-button (click)="createdEvent()">CONTINUE</a>
  </div>
</div>








<app-footer></app-footer>