footer{
   
   
    position:absolute;
    bottom: 0;
    background: linear-gradient(to right, rgb(92, 57, 110), rgb(171, 82, 156));
    height: 86px;
    width: 100%;

}
.example-spacer {
    flex: 1 1 auto;
    
  }
.app-name{
    margin-right: 180px;
}
.information{
    display: flex;
    color:white;
    margin-top:35px;
}

.about{
    font-size: 18px;
    width: 400px;
    height: 24px;
    display: flex;
    margin-left: 100px;
}
.contact{
    margin-left: 15px;
   
}
