<footer>
    <div class="information">
        <div class="about">
            <p>About EventXplorer</p>
            <div class="contact">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="facebook"></mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="facebook"></mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="facebook"></mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="facebook"></mat-icon>
            </div>
        </div>
        <div class="app-name">
            <p>© EventXplorer, 2023.</p>
        </div>
    </div>

</footer>
