<div fxLayout="row">
    <div fxFlex="30%">
      <mat-card class="perfil">
        <img mat-card-image src="https://cdn-images.livecareer.es/pages/foto_cv_lc_es_7.jpg">
        <mat-card-title>Lili Ramos</mat-card-title>
        <mat-card-content>
          <p>Hi, I’m Lili and I live in Lima, Peru. 
          I would like to bring great events from Lima and have people from cities of the country</p> 
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="70%">
      <mat-tab-group>
        <mat-tab label="Informacion Personal">
          Content 1 
        </mat-tab>
        <mat-tab label="Comentarios">
          Content 2
        </mat-tab>
        <mat-tab label="Reclamos">
          Content 3
        </mat-tab>
      </mat-tab-group> 
    </div>
</div>