<app-header></app-header>

        
    <div  id="img_home" class="home_account" >
        <div class="card-1 p-4 shadow-0 border-round w-100 lg:w-20 Home inline-block">
        <img class="UserPhoto home-img" alt="UserPhoto" :src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aG9tYnJlcyUyMGl0YWxpYW5vc3xlbnwwfHwwfHw%3D&w=1000&q=80">
        <aside class="text5">Hi, Oscar!</aside>

        
            <div class="popular_events p-4 shadow-0 border-round w-auto lg:w-40 Home ">
                <aside class="text3 font-medium line-height-3 ">Popular Events</aside>
                
            </div>

        </div>

        <div class="card-2 p-4 shadow-0 border-round w-100 lg:w-20 Home inline-block">
            <div style="text-align: center;">
                <a href="#" ><aside class="text2 font-medium line-height-3">My account</aside></a>
            </div>
            <button mat-flat-button color="accent">Published Event <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            </button>
                <div class="box_blank p-4 shadow-0 border-round w-auto lg:w-20 Home"> </div>
                    <div class="recent_events p-4 shadow-0 border-round w-auto lg:w-20 Home">
                        <aside class="text3 font-medium line-height-3">Recent Events</aside>
                        <div class="Boxes" v-for="product in recent_event.slice(0,2)" :key="event.id">
                            <div class="box1 p-4 shadow-1 border-round w-full lg:w-20">
                                
                            </div>
                        </div>
                </div>
        </div>
    </div>


<app-footer></app-footer>
