<app-footer></app-footer>

<mat-toolbar  id="navcompo">
    <mat-toolbar-row>
      <span>My App</span>
      <span class="example-spacer"></span>
      <a>Oscar castañedas</a>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>person</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <mat-toolbar id="navcompo" >
        
          <span class="spacer"></span>
      
   
          <button mat-button routerLink="/"  style="padding-left: 60px;padding-right: 60px;">Home</button>
          <button mat-button routerLink="/messages"style="padding-left: 60px;padding-right: 60px;">My Messages</button>
          <button mat-button routerLink="/publish"style="padding-left: 60px;padding-right: 60px;">Publish Event</button>
          <button mat-button routerLink="/published" style="padding-left: 60px;padding-right: 60px;">Published Events</button>
          <button mat-button routerLink="/resume" style="padding-left: 60px;padding-right: 60px; ">Resume</button>
          <button mat-button routerLink="/support" style="padding-left: 60px; padding-right: 60px;">Support</button>
     
      </mat-toolbar>
      
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>notifications</mat-icon>
      </button>
    </mat-toolbar-row>
    
  </mat-toolbar>




<div id="payment-card">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYRt-Vl8q5ZWilqvpBGvMF02wb12Su3MyAC4-Zphc_2fcmoTni" id="añaimg">
      <div id="ttile"  >
       <p id="payment-id">Payment Completed</p> 
        </div>
        <div id="container">
                <div id="block">
                        <div id="cod1">
                            <span id="subttile" style="padding-left: 150px;"> Payment:</span>
                            <span id="text"> 17020109<span>
                            
                        
                        <div id="cod1">
                                <span id="subttile"> Event ID:  </span>
                                <span id="text"> GRGATSA  <span>     
                            <div>
                        <div id="cod1">
                                <span id="subttile">Amount: </span>
                                <span id="text"> 560 USD<span>         
                            <div>
                </div>
        
            <div id="accept-block">
                <span style="text-align: center;" id="accept-text">ACCEPT</span>
                </div>
        
  
    <div>
</div>

<app-footer></app-footer>