.example-card {
  max-width: 400px;
  margin-top: 100px;
  margin-left: 400px;
  box-shadow: 9px 5px 33px rgba(72, 72, 72, 0.09);
  border-radius: 33px;
}

.example-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.subtitle {
  text-align: center;
  font-size: 3em;
  margin-top: 50px;
  font-weight: bold;
  color: gray;
}
.parrafo1 {
  font-size: 160%;
  text-align: center;
  color:grey;
}

#googlemaps{
  max-width: 520px;
  position: relative;
  top: -500px;
  left: 1000px;
  box-shadow: 9px 5px 33px rgba(72, 72, 72, 0.09);
  border-radius: 33px;
}