<app-header></app-header>

  <div class="my-profile">
    <div id="view-profile">
      <div class="perfil">
        <mat-card>
            <img mat-card-image src="https://cdn-images.livecareer.es/pages/foto_cv_lc_es_7.jpg">
            <mat-card-title>Lili Ramos</mat-card-title>
            <mat-card-content>
                <p>Hi, I’m Lili and I live in Lima, Peru. I would like to bring great events from Lima and have people from cities of the country</p> 
            </mat-card-content>
        </mat-card>
    </div>

    <div class="tab-options">
        <mat-tab-group >

            <div class="Information" >
              <mat-tab label="Informacion Personal" >
                <div class="info-data" style="padding:50px">
                <div><strong>Nombre completo:</strong></div>
                <mat-card>
                    <mat-card-content>
                    <p>Lili Ramos</p> 
                 </mat-card-content>
                </mat-card>
                
                <div><strong>Edad:</strong> </div>
                <mat-card>
                  <mat-card-content>
                  <p>25 años</p> 
               </mat-card-content>
              </mat-card>

                <div><strong>E-mail:</strong> </div>
                <mat-card>
                  <mat-card-content>
                  <p>liliramos@gmail.com</p> 
               </mat-card-content>
              </mat-card>
                

                <div><strong>Ciudad:</strong></div> 
                <mat-card>
                  <mat-card-content>
                  <p>Lima</p> 
               </mat-card-content>
              </mat-card>
            </div>
            </mat-tab>
            </div>
            
        </mat-tab-group> 
    </div>
    </div>
  </div>
    

<app-footer></app-footer>