<div class="login-form">
    <h2 id="title-login">Welcome, Let's Get Started!</h2>
    <form >
        <div class="form-group" >
            <label for="username" style="color:#9F7CA0; font-weight: normal; display: block;" >Email addres / username</label>
            <input type="text" id="username" name="username" >
            </div>
            <div class="form-group ">
            <label for="password" style="color:#9F7CA0; font-weight: normal; display: block;">Contraseña</label>
            <input type="password" id="password" name="password">
        </div>
    
      <a mat-raised-button style="background: linear-gradient(90deg, #5C396E 3.89%, #AB529C 94.23%); color: white;">
        LOGIN
      </a>
      <a style="font-family: 'Poppins'; align-items: center; text-decoration-line: underline; color: #79627C; text-align: center;" >Forgot your password?</a>
      <span style="font-family: 'Poppins'; align-items: center;  color: #79627C; text-align: center;">No account yet? <a style="font-family: 'Poppins'; align-items: center; text-decoration-line: underline; color: #79627C; text-align: center;" >Create acount</a></span>
      
    </form>
</div>