*{
 font-family: 'Poppins';
}

.social-icons {
    display: flex;
    justify-content: left;
  
  }
  
  .social-icons a {
    margin-left: 20px;
  }
  
  
  .social-icons img {

    width: 30px;
    height: 30px;
    padding-left: 25px;
    padding-right: 25px;
  }
   
  .social-icons2 img {

    width: 30px;
    height: 30px;

  }
  
  
  


  .paginasEvents h2{
    text-align: center;
    justify-content: center;
 
  }

#card-event-available-box1{
  display: flex;
  box-shadow: 9px 5px 33px rgba(72, 72, 72, 0.09);
  width: 300px;
  border-radius: 10px;
  margin: 0 auto;
  justify-content: center;
align-items: center;
}



#info-user{
  padding: 7px;
  padding-left: 10px;
  padding-top:10px;

}
#photo-user{
  border-radius: 50%;
  width: 75px;
}

#card-event-available-box2{
  display: flex;
  box-shadow: 9px 5px 33px rgba(72, 72, 72, 0.09);
  width: 300px;
 margin: 0 auto;
  border-radius: 10px;
justify-content: center;
align-items: center;

}

#photo-event{
  border-radius: 20%;
  height: 127px;
  width: 113px;

}

#event-info-card{
padding: 5px;
}

#details-event-place {
  padding: 3px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 24px;
display:flex;
}

#details-event-time{
  padding: 3px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  display:flex;
}

#details-event-date{
  padding: 3px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  display:flex;
}


#hashtag-event{
  background: linear-gradient(90deg, #5C396E 3.89%, #AB529C 74.08%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
/*text-fill-color: transparent;*/
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 20px;

}
/*cards de la primera seccion */
#card-event-available{
    margin: 0 auto;
    border-radius: 5px;
    background-color: #fff;
    height: 330px;
}

/*cards de la segunda seccion */
#card-event-available2{
  margin-left:55px;
  border-radius: 5px;
  background-color: #fff;
  height: 30px;
}
#icons-person1{
  display: flex;
  box-shadow: 9px 5px 33px rgba(72, 72, 72, 0.09);
  width: 300px;
 
  border-radius: 10px;

}


#cards-available{
  height: 330px;

  padding-top: 10px;
  box-shadow: 9px 5px 33px rgba(72, 72, 72, 0.09);
  border-radius: 33px;
   margin:10px auto;

}
#cards-available2{
    height: 300px;
    padding-top: 10px;
    box-shadow: 9px 5px 33px rgba(72, 72, 72, 0.09);
    border-radius: 33px;
    margin: 10px 200px;
    /* FONT-WEIGHT: 100; */
    width: 750px;

}
#name-event{
  margin: 0;
  font-size: 17px;
}

#tab-options-published{
        margin: 0 auto;
        width: 80%;
        text-align: center; 
}

#name-user{
    margin: 0px;
}

#cajita-events-tittle {
    
        position: relative;
       margin: 10px auto;
      justify-content: center;
   
      align-items: center;
}
#cajita-events-tittle img{
   
    padding-left: 30px;
    padding-top: 10px;
   width: 50px;
}

#cajita-events-tittle  h1{
  margin: 15px 0px 16px;
}