<app-header></app-header>
<div class="profile">
    <div class="profile-info">
        <img src="" >
        <div class="name-user"> <p>OSCAR VALENTINO</p>
        </div>
        <div class="description">
            <p>What's up? My name is Oscar, but you can call me Mixwell. I use to travel around the world and I can help you bringing some great events. </p>
        </div>
        <div class="button-row">
            <button mat-flat-button color="accent">Edit Profile <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            </button>
            
          </div>
            
    </div>

    <div class="tab-group">
        <mat-tab-group fitInkBarToContent>
            <mat-tab label="Personal Information">
               
                    <mat-label>Favorite food</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
            </mat-tab>

            <mat-tab label="Points">
                
            </mat-tab>

            <mat-tab label="Comments">

            </mat-tab>
            <mat-tab label="Claims">

            </mat-tab>
        </mat-tab-group>
    </div>
    
    
    
</div>
<app-footer></app-footer>