
   <app-navbar-login></app-navbar-login>
   
   <div class="screen container">
    <div class="register-information-form">
        <div class="form-container">
        <img src="../../../../assets/img/icon.png" alt="logo" style="height: 60px; margin: 30px 50%;">
        <span id="title-register-information" style="text-align: center; margin: 40px 40px;">Fill In Your Information!</span>
    
      <form (submit)="submitUser()"  style="margin: auto 70px;">
        <div class="form-group-row">
          <div class="form-group-col">
            <label for="username" style="color:#9F7CA0; font-weight: normal; display: block; font-weight: 500; font-size: 18px;" >Name</label>
            <div class="form-group" style="margin: 10px 0;">
                <mat-form-field appearance="outline" style="width: 400px;">
                <input matInput type="text" placeholder="name" name="name" [(ngModel)]="data.name">
                </mat-form-field>
            </div>   
          </div>
          <div class="form-group-col">
            <label for="date" style="color:#9F7CA0; font-weight: normal; display: block; font-weight: 500; font-size: 18px;" >Age</label>
            <div class="form-group" style="margin: 10px 0;">
                <mat-form-field appearance="outline" style="width: 400px;">
                <input matInput type="text" placeholder="age" name="age" [(ngModel)]="data.age">
                </mat-form-field>
            </div>   
          </div>
        </div>
        <div class="form-group-row">
            <div class="form-group-col">
                <label for="country" style="color:#9F7CA0; font-weight: normal; display: block; font-weight: 500; font-size: 18px;" >City</label>
                <div class="form-group" style="margin: 10px 0;">
                    <mat-form-field appearance="outline" style="width: 400px;">
                    <input matInput type="text" placeholder="city" name="city"  [(ngModel)]="data.city">
                    </mat-form-field>
                </div>      
            </div>
            
            <div class="form-group-col">
                <label for="typeIdentify" style="color:#9F7CA0; font-weight: normal; display: block; font-weight: 500; font-size: 18px;" >Date Of Birth</label>
                <div class="form-group" style="margin: 10px 0;">
                    <mat-form-field appearance="outline" style="width: 150px;">
                    <input matInput type="date" placeholder="yyyy-MM-dd" name="birthday"  [(ngModel)]="data.birthday">
                    </mat-form-field>
                </div>  
            </div>

            
        </div>

        <div class="form-group-row">
            <div class="form-group-col">
                <label for="typeIdentify" style="color:#9F7CA0; font-weight: normal; display: block; font-weight: 500; font-size: 18px;" >Type Of Identify Card</label>
                <div class="form-group" style="margin: 10px 0;">
                    <mat-form-field appearance="outline" style="width: 200px;">
                    <input matInput type="text" placeholder="type_identification" name="type_identification" [(ngModel)]="data.typeIdentification">
                    </mat-form-field>
                </div>   
            </div>
            <div class="form-group-col">
                <label for="typeIdentify" style="color:#9F7CA0; font-weight: normal; display: block; font-weight: 500; font-size: 18px;" >Number Of Identify Card</label>
                <div class="form-group" style="margin: 10px 0;">
                    <mat-form-field appearance="outline" style="width: 200px;">
                    <input matInput type="text" placeholder="79453765" name="number_identification" [(ngModel)]="data.numberIdentification">
                    </mat-form-field>
                </div>   
            </div>

            <a reouterlink="#" (click)="openCard()" style="color: #9F7CA0; font-size: 14px; margin-left: 10px;"> 
              <mat-icon>cloud_upload</mat-icon> Upload Photo
            </a>
            <div class="overlay" *ngIf="showCard">
              <mat-card class="card-url-photo">
                <mat-card-title style="text-align: center; margin-top: 10px; color:#9F7CA0; font-weight: bold;">Upload Photo</mat-card-title>
                <mat-card-content>
                  <mat-form-field>
                    <input matInput type="text" placeholder="Enter Photo URL" name="url_photo" [(ngModel)]="data.urlPhoto" >
                  </mat-form-field>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button color="primary" (click)="savePhoto()">Save</button>
                </mat-card-actions>
              </mat-card>
            </div>
             


        </div>
      </form>

      <a id="btn-register-information" class="btn-global " style="color: white; width: 400px;" mat-raised-button (click)="submitUser()">CONTINUE</a>
   
    </div>
    <div class="image-container" style="display: flex; flex-direction: column;">
        <img [src]="data.urlPhoto ? data.urlPhoto : 'https://bysperfeccionoral.com/wp-content/uploads/2020/01/136-1366211_group-of-10-guys-login-user-icon-png.jpg'" alt="PhotoUser" class="image" style="height: 270px;">
        
        

    </div>

    </div>
  </div>
  
  <app-footer-login></app-footer-login>