<app-header></app-header>

<div class="support">
    <mat-card>    
        <mat-card-title>¿Tienes un reclamo?</mat-card-title>
        <img mat-card-image src="https://media.istockphoto.com/id/883114390/es/foto/signo-de-interrogaci%C3%B3n-morado-preguntas-lila-violeta-y-responder-rojo-s%C3%ADmbolo-3d-pregunta-icono.jpg?s=170667a&w=0&k=20&c=K06tUvWWkngA8l-gBRSk6hYLFz4xWD8DgNFGDMud-LM=">
    </mat-card>
</div>

<form class="support-data">
    <mat-form-field class="support-tel-width">
       <span matPrefix>+51 &nbsp;</span>
       <mat-label>Celular</mat-label>
      <input type="tel" matInput placeholder="999-999-999">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
    <mat-form-field class="support-mail-width">
        <mat-label>Correo</mat-label>
        <input matInput placeholder="example@mail.com">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>

  </form>

<app-footer></app-footer>