<app-header></app-header>

 <div class="c-supp" style="padding: 100px;">
    <h2 class="supp-subtitle" style="color: #848484;font-weight: 600;font-size: 40px;">Do you have a claim?</h2>
    <img class="img-signo" src="../../../assets/img/img-support.png" alt="signo de interrogación">
      <div class="box-right">
        <div class="box-input-gmail" >
          <img class="pi-envelop" src="../../../assets/icons/support-icon-message.png" alt="pi pi-envelop" style="margin-right: 20px;">
          <div class="input">
                <input id="input-gmail" type="text"   placeholder="EventX@gmail.com" disabled="true"/>
          </div>
        </div>
         <div class="box-input-number" >
           <img class="pi-user" src="../../../assets/icons/support-icon-user.png" alt="pi pi-user" style="margin-right: 20px;">
           <div class="input">
              <input id="input-number" type="text"  placeholder="+51 962273579" disabled="false"/>
           </div>
        </div>
        <div class="box-social-networks" >
          <img class="i-wpp" src="../../../assets/icons/facebook.png" alt="icon fb" style="height:60px; width: 60px;">
          <img class="i-fb" src="../../../assets/icons/instagram.png" alt="icon ig" style="height:60px; width: 60px;">
          <img class="i-ig" src="../../../assets/icons/twiter.png" alt="icon twiter" style="height:60px; width: 60px;">
        </div>
        <a class="btn-support" style="color: white; margin-top: 30px; margin-left: 60px;" mat-raised-button>SEND US A MESSAGE</a>
      </div>
  </div>
  

<app-footer></app-footer>