<!--/*RESUME MY EVENTS HISTORY 1*//-->
  
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>My App</span>
      <span class="example-spacer"></span>
      <a>Oscar castañedas</a>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>person</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <mat-toolbar class="mat-toolbar-center" color="primary">
        
        <span class="spacer"></span>
    
        <button mat-button routerLink="/"  style="padding-left: 60px;padding-right: 60px;">Home</button>
        <button mat-button routerLink="/messages"style="padding-left: 60px;padding-right: 60px;">My Messages</button>
        <button mat-button routerLink="/publish"style="padding-left: 60px;padding-right: 60px;">Publish Event</button>
        <button mat-button routerLink="/published" style="padding-left: 60px;padding-right: 60px;">Published Events</button>
        <button mat-button routerLink="/resume" style="padding-left: 60px;padding-right: 60px; ">Resume</button>
        <button mat-button routerLink="/support" style="padding-left: 60px; padding-right: 60px;">Support</button>
      </mat-toolbar>
      
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>notifications</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-tab-group animationDuration="1000ms">
    <mat-tab label="First"> 
        <h2  style="text-align: center; padding: 30px;" >My Events History</h2>    
              
        
<div class="contenedor">
  <div class="fila">
    <div class="bloque">
      <img src="https://promart.vteximg.com.br/arquivos/ids/4296557-1000-1000/image-4e164cd7db16488699b1e361297426e8.jpg?v=637799619465370000" alt="Texto alternativo de la imagen 1">
      <div class="texto">
        <h2>iphone 13 pro max</h2>
        <p>3 months ago</p>
      </div>
    </div>
    <div class="bloque">
      
      <img src="https://dpq25p1ucac70.cloudfront.net/seller-place-files/mrkl-files/140/MARKETPLACE%20INTERNACIONAL/51e0bhSRomL_194607516690_68.jpeg" alt="nomesalepipi">
      <div class="texto">
        <h2>LOGITECH G502 WIRELESS</h2>
        <p>5 months 2 weeks ago</p>
      </div>
    </div>
  </div>
  <div class="fila">
    <div class="bloque">
      <img src="https://falabella.scene7.com/is/image/FalabellaPE/gsc_118238426_2024276_1?wid=800&hei=800&qlt=70" alt="Texto alternativo de la imagen 3">
      <div class="texto">
        <h2>XBOX SERIES S 512GB</h2>
        <p>5 months ago</p>
      </div>
    </div>
    <div class="bloque">
      <img src="https://tecsoftcomputer.com.pe/6-large_default/memoria-ram-hyperx-fury-black-8gb-ddr4.jpg" alt="Texto alternativo de la imagen 4">
      <div class="texto">
        <h2>Ram MEMORY Hyperx Fury Ddr4</h2>
        <p>7 months ago</p>
      </div>
    </div>
  </div>
</div>


    </mat-tab>
    <mat-tab label="Second" > 
      <h2  style="text-align:center ;padding: 30px;" >Reserved Events</h2>    
      <div id="cards-available" style="display: flex; flex-direction: row;">
        <div id="card-event-available">
          <div id="card-event-available-box1">
              <img src="https://profiles.howard.edu/sites/profiles.howard.edu/files/styles/profile_square/public/2022-03/2019_Anna_Allen.JPG?h=6c83441f&itok=gdls3PQk" id="photo-user" style="height: 100px; ">
                <div id="info-user">
                    <h2 id="name-user">Lily Ramos</h2>
                    <span>Requested 1h ago</span>
                </div>
        
            </div>
            <div id="card-event-available-box2">
              <img src="https://portacool.com/wp-content/uploads/2021/05/Outdoor-Event.jpg" id="photo-event" style="height:130px ;">
                <div id="event-info-card">
                    <h2 id="name-event">Resto-Bar Peruvian</h2>
                    <span id="details-event-place">San Isidro Lima, Peru</span>
                    <span id="details-event-time"> 20:00 - 23:00 pm </span>
                    <span id="details-event-date">Before Sep 17</span>
            
                    <span id="hashtag-event">#Resto</span>
                </div>
            </div>
        
            <div id="icons-person1"class="social-icons">
              <a ><img src="https://cdn.pixabay.com/photo/2021/03/22/09/34/heart-6114039_960_720.png" ></a>
              <a href="https://www.facebook.com/"><img src="https://www.iconpacks.net/icons/2/free-facebook-messenger-icon-2881-thumb.png"></a>
              <a ><img src="https://www.freeiconspng.com/thumbs/add-icon-png/add-1-icon--flatastic-1-iconset--custom-icon-design-0.png"></a>
            </div>
          
          </div>
        <div id="card-event-available">
          <div id="card-event-available-box1">
              <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSwEdXHGegWRbEGce9xziQ1aKvIVwf3mFcZBVZ1K3czbcH5cR4Z" id="photo-user" style="height: 100px; ">
                <div id="info-user">
                    <h2 id="name-user">Juan Pearse </h2>
                    <span>Requested 14h ago</span>
                </div>
        
            </div>
            <div id="card-event-available-box2">
              <img src="https://portacool.com/wp-content/uploads/2021/05/Outdoor-Event.jpg" id="photo-event" style="height:130px ;">
                <div id="event-info-card">
                    <h2 id="name-event">Gamming Meet</h2>
                    <span id="details-event-place">San Isidro Lima, Peru</span>
                    <span id="details-event-time"> 20:00 - 23:00 pm </span>
                    <span id="details-event-date">Before Sep 17</span>
            
                    <span id="hashtag-event">#Resto</span>
                </div>
            </div>
        
            <div id="icons-person1"class="social-icons">
              <a ><img src="https://cdn.pixabay.com/photo/2021/03/22/09/34/heart-6114039_960_720.png" ></a>
              <a href="https://www.facebook.com/"><img src="https://www.iconpacks.net/icons/2/free-facebook-messenger-icon-2881-thumb.png"></a>
              <a ><img src="https://www.freeiconspng.com/thumbs/add-icon-png/add-1-icon--flatastic-1-iconset--custom-icon-design-0.png"></a>
            </div>
          
          </div>
       </div>

    </mat-tab>
</mat-tab-group>

 
<div id="footer">
  <div id="information">
    <div id="about">
        <p>About EventXplorer</p>
        <div id="contact">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="facebook"></mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="facebook"></mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="facebook"></mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="facebook"></mat-icon>
        </div>
    </div>
    <div id="app-name">
        <p>© EventXplorer, 2023.</p>
    </div>
  </div>
</div>