<mat-toolbar color="primary" id="navbar-login">
    <mat-toolbar-row>
      <a routerLink="/login"><img src="../../../../assets/img/icon.png" alt="logo" style="height: 40px; margin-right: 10px;"></a>
      <a routerLink="/login" style="text-decoration: none; color:white"><span> EventXplorer</span></a>
      <span class="example-spacer"></span>
      <a class="link-style" routerLink="/login" style="text-decoration: none; color:white; font-weight: normal; font-size: 17px;" >Login</a>
      <a class="link-style" routerLink="/register" style="text-decoration: none; color:white;font-weight: normal; font-size: 17px; margin-left: 20px; margin-right: 30px;">Register</a>
    </mat-toolbar-row>
</mat-toolbar>